.container {
    width: 50%;
    margin-top: 4vmin !important;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 780px) {
    .container {
        width: 80%;
    }
}
@media screen and (max-width: 380px) {
    .container {
        width: 100%;
    }
}