body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

@media screen and (max-width: 780px) {
    .container {
        width: 80%;
        margin-left: 9vmin;
    }
    .logo {
        width: 70%;
    }
}
